<div class="container">
  <div class="row mt-4 mb-4">
    <% blogs&.each do | blog |%>
    <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <div class="d-flex">
              <% blog.categories&.each do |category| %>
                <strong class="d-inline-block mb-2 text-primary me-2"><%= category&.name %></strong> 
              <% end %>
            </div>

            <h3 class="mb-0"><%= blog.headline.truncate(25)%></h3>
            <div class="mb-1 text-muted"><%= blog.created_at.strftime("%Y-%m-%d") %></div>
            <p class="card-text mb-auto"><%= blog.description.to_plain_text.truncate(150) %></p>
            <%= link_to 'Continue reading', blog_path(blog), class:"stretched-link"%>
          </div>
          <div class="col-auto d-none d-lg-block">
            <% if blog.image.present?%>
              <%= image_tag blog.image, class: 'bd-placeholder-img', width: 200, height: 250 %>
            <% else %>
              <%= image_tag 'ivf2.jpg', class: 'bd-placeholder-img', width: 200, height: 250 %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>