<% if blogs.any? %>
    <hr class="mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>Technology</h2>
        <div>
            <%= link_to blogs_path , class:"text-decoration-none" do %>
            <i class="fa fa-sharp fa-regular fa-arrow-right me-2 "></i> 
            View all
            <% end  %>
        </div>
    </div>
<% end %>
<div class="row mb-4">
  <% blogs&.limit(2).each do | blog |%>
    <div class="col-lg-6 p-0">
      <%= link_to blog_path(blog) do %>
        <div class="card bg-dark text-white h-100 border-0 rounded-0">
          <% if blog.image.present?%>
            <%= image_tag blog.image, class:'card-img h-100'%>
          <% else %>
            <%= image_tag 'ivf2.jpg', class: 'card-img h-100' %>
          <% end %>
          <div class="card-img-overlay d-flex flex-column justify-content-end p-3">
            <h5 class="card-title"><%= blog.headline%></h5>
            <p class="card-text"><%= blog.description.to_plain_text.truncate(150) %></p>
            <p class="card-text"><small><%= blog.created_at.strftime("%Y-%m-%d") %></small></p>
          </div>
        </div>
      <% end %>
    </div> 
  <% end %>
</div>
