<%= render 'admin_sidebar' %>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card  text-center">
        <%=image_tag 'users1.png', class:"card-img-top",style: "height:260px;"%>
        <div class="card-body">
        <h5 class="card-title">Total Users: <%= User.all.count%></h5>
        <%= link_to 'Show', admin_users_path, class:"btn btn-primary w-100"%>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-center">
        <%=image_tag 'blogs.png', class:"card-img-top" ,style: "height:260px;"%>  
        <div class="card-body">
        <h5 class="card-title">Total Blogs: <%= Blog.all.count%></h5>
        <%= link_to 'Show', admin_blogs_path, class:"btn btn-primary w-100"%>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-center">
        <%=image_tag 'category.png', class:"card-img-top",style: "height:260px;"%>
        <div class="card-body">
        <h5 class="card-title">Total Categories: <%= Category.all.count%></h5>
        <%= link_to 'Show', admin_categories_path, class:"btn btn-primary w-100"%>
        </div>
      </div>
    </div>
  </div>

  <%# Table %>
  <table class="table caption-top">
    <caption>List of Blogs</caption>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Blog Headline</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>
          <button type="button" class="btn btn-primary"><i class="fa fa-eye"></i></button>
          <button type="button" class="btn btn-warning"><i class="fa fa-pencil"></i></i></button> 
          <button type="button" class="btn btn-danger"><i class="fa fa-trash"></i></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>